html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: #585858;
}
body {
	margin: 0;
	color: inherit;
	font-size: 12px;
}
.contenedor{
	width: 100%;
	height: 100%;
	display: table;
	table-layout: fixed;
}
.menu-contenedor{
	display: table-cell;
  	vertical-align: top;
	width: 240px;
	z-index: 100;
	box-sizing: border-box;
	background: #325EEB;
}
.menu-minimizado{
	width: 100%;
	display: table-row;
}
.menu-cerrado{
	width: 66px;
	display: table-cell;
}
.menu-abierto{
	width: 240px;
	display: table-cell;
}
.menu-titulo{
	padding: 0;
	width: 100%;
	height: 100px;
	background: #2A4DBA;
}
.menu-titulo a{
	text-decoration: none;
	color:white;
	font-size: 18px;
	font-weight: bolder;
	margin: 35px 0 0 30px;
	letter-spacing: 3px;
	display: inline-block;
}
.menu-boton{
	width: 30px;
	height: 30px;
	background: none;
	border: 1px solid white;
	border-radius: 6px;
	color:white;
	display: inline-block;
	float: right;
	margin: 35px 18px 0 0px;
}
.menu-boton:hover{
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}
.menu-boton i{
	font-size: 20px;
}
.menu-navegacion{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}
.menu-navegacion li{
	position: relative;
	margin: 0;
	font-size: 14px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.menu-navegacion li.sub-menu > a:before {
	font-family: 'EntypoRegular';
	content: '\e879';
	display: inline-block;
	float: right;
	margin-right:15px;
	font-size: 17px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.menu-navegacion li.sub-menu.abierto > a:before{
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.menu-navegacion li a{
	text-decoration: none;
	color: white;
	position: relative;
	display: block;
	padding: 10px 0 10px 20px;
	transition: all 300ms ease-in-out;
	z-index: 2;
}
.menu-navegacion li a:hover{
	background: rgba(255, 255, 255, 0.1);
	color: gainsboro;
}
.menu-navegacion li a i{
	top: 1px;
	display: inline-block;
	font-size: 15px;
	margin-right: 5px;
}
.menu-navegacion li ul{
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	display: none;
	overflow: hidden;
	z-index: 1;
}
.menu-navegacion li ul > li a{
	padding: 10px 0 10px 30px;
	background: #2A4DBA;
}
.menu-navegacion li ul > li:last-child{
	border-bottom: 0;
}
.mas-opciones{
	float: right;
	padding: 0 10px;
}
.pagina-contenedor{
	vertical-align: top;
	position: relative;
	display: table-cell;
	width: 100%;
	background: #e9eaed;
	box-sizing: border-box;
	padding:0 15px;
}